<h3>Create a new post</h3>

<h4>Pure HTML Form</h4>
<form action="/posts" method="POST" name: >
  Title: <input type='text' name='my_title'>
  <br>
  <input type='submit' class='btn btn-primary'>
</form>

<h4>Rails form - with Form Helpers</h4>
<%= form_tag '/posts' do %>
  <%= label_tag :title %>
  <%= text_field_tag :title, "Input a title" %>
  <br>
  <%= submit_tag "Create Event", class: 'btn btn-primary' %>
<% end %>

<h3>Model Backed Rails Form Helpers</h3>
<%= form_for @post  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br/>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <br/>
  <%= f.submit "Create Post", class: 'btn btn-primary' %>
<% end %>